<div class="container">
    <div class="row">
        <br>
        <div class="col s12">
            <div class="card purple darken-4">
                <div class="card-content white-text">
                    <span class="card-title amber-text">
                        <i class="large material-icons left">group</i>
                        <span>&nbsp</span>
                        <h2><strong>Look Alike</strong> </h2>
                    </span>
                    <hr>


                    <div class="row">
                        <div class="col s12">
                            <h3 class="deep-orange-text">Upload Your Picture.</h3>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col s12">
                            <h3 class="center deep-orange-text">Find your doppelganger!</h3>
                        </div>
                    </div>


                    <div class="row images-container">
                        <div class="col s6 userImage">
                            <div style="text-align: center">
                                <img src="smiley.gif" alt="Smiley face" height="42" width="42">
                            </div>
                        </div>
                        <div class="col s6 compImage">
                            <div style="text-align: center">
                                <img src="smiley.gif" alt="Smiley face" height="42" width="42">
                            </div>
                        </div>
                    </div>
                </div>c
                <br>

                <div class="row">
                    <div class="col s12">
                        <div class="card-action right-align ">
                            <div class="btn-large pulse waves-effect waves-light amber purple-text text-darken-4">
                                <a class="purple-text text-darken-4" href="/survey"><b>Go to Survey</b></a>
                                <i class="material-icons left">assignment</i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col s12 purple-text text-darken-4">
                <p><strong><a class="purple-text text-darken-4" href="/api/friends">API Table Link</a> | <a class="purple-text text-darken-4"
                            href="https://github.com/dtries/FriendFinder">GitHub
                            Repo</strong></a>
            </div>
        </div>
    </div>
</footer>