<main>
  <div class="container">
    <div class="row" id="title_row">
      <div class="col s12">
        <h1 class="theTitle">Look Alike</h1>
      </div>
    </div>


    <div class="row userInstructions">
      <div class="col s12">
        <h2 class="useInstruct">Upload Your Picture...</h2>
      </div>
    </div>

    <div class="row userInput">
      <div class="col s12">
        <form action="POST">
          <input class="col s12 l5" type="text" autocomplete="off" id="example-text" name="userImage" placeholder=" Enter First Name">
          <button class="col s12 l5 offset-l2 btn-large waves-effect waves-light userPhotoSubmit" id="submit" /><b>Doppelganger
            Me</b>
          </button>
          <input class="col s12" type="text" autocomplete="off" id="example-description" name="userImage" placeholder=" Enter Image URL">
        </form>
      </div>
    </div>

    <div class="row tagLine">
      <div class="col s12 ">
        <h3 class="center">And Find Your Doppelganger!</h3>
      </div>
    </div>


    <div class="row images-container">
      <div class="col s12 l6 userImage">
        <div style="text-align: center">
          <div class="card">
            <div class="card-image" id="userPhoto">
              {{#each photoLib}}
              {{#if @last}}
              <img id="userImgPlace" src={{this.photoURL}}>
              <span class="card-title" id="userName">{{this.celebName}}</span>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 l6 compImage">
        <div style="text-align: center">
          <div class="card">
            <div class="card-image">
              <img id = "compImgPlace" src="https://images.pexels.com/photos/712513/pexels-photo-712513.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="card-title" id="compName">{{this.celebName}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="numClients">
      <span id="howMany"> Hi </span>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.on('broadcast', function (data) {
      var clientNumber = document.getElementById("howMany").innerHTML=data.description;

    });
  </script>

</main>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>