<main>
  <div class="container">
    <div class="row" id="title_row">
      <div class="col s12">
        <h1 class="theTitle">Look Alike</h1>
      </div>
    </div>


    <div class="row userInstructions">
      <div class="col s12">
        <h2 class="useInstruct">Upload Your Picture...</h2>
      </div>
    </div>

    <div class="row userInput">
      <div class="col s12">
        <form class="userPhotoSelect" method='POST' action='/upload' enctype='multipart/form-data'>
          <input type='file' name='image' class="col s12 l5 btn waves-effect waves-light userImgSelect" />
          <button class="col s12 l5 offset-l2 btn waves-effect waves-light userPhotoSubmit" type='submit' />Upload You
          </button>
        </form>
      </div>
    </div>

    <div class="row tagLine">
      <div class="col s12 ">
        <h3 class="center">And Find Your Doppelganger!</h3>
      </div>
    </div>


    <div class="row images-container">
      <div class="col s12 l6 userImage">
        <div style="text-align: center">
          <div class="card">
            <div class="card-image">
              <img id="userImgPlace" src="https://images.pexels.com/photos/814052/pexels-photo-814052.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
              <span class="card-title" id="userName">Card Title</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 l6 compImage">
        <div style="text-align: center">
          <div class="card">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/712513/pexels-photo-712513.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
              <span class="card-title" id="compName">Card Title</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-action right-align "> 
          <div class="btn-large pulse waves-effect waves-light getTwin">
            <a class="doppWriting"><b>Doppelganger Me</b></a>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>